@media (min-width: 768px) {
    .forecast-buttons {
        border-radius: 5px;
        margin-top: 2.5em;
        text-align: center;
    }

    .forecast-buttons button {
        border: none;
        padding: 1vw;
        margin-left: 0.5vw;
        width: 12%;
        font-size: 0.8em;
        background-color: #2D333B;
        border-radius: 5px;
        color: #9DA7B3;
        font-family: 'Space Grotesk', sans-serif;
    }

    .forecast-buttons button.active {
        background-color: #22272E;
    }

    .forecast-buttons button:hover {
        background-color: #22272E;
    }
}


@media (max-width: 768px) {
    .forecast-buttons {
        margin-top: 2.5em;
        text-align: center;
    }

    .forecast-buttons button {
        border: none;
        width: 85%;
        padding: 1em;
        margin-left: 0.5em;
        margin-bottom: 0.5em;
        font-size: 0.8em;
        background-color: #2D333B;
        border-radius: 5px;
        color: #9DA7B3;
        font-family: 'Space Grotesk', sans-serif;
    }

    .forecast-buttons button.active {
        background-color: #22272E;
    }

    .forecast-buttons button:hover {
        background-color: #22272E;
    }
}
