@media (min-width: 768px) {
    .navigations {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 6em;
        background-color: #2D333B;
        color: #9DA7B3;
    }

    .box-nav ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0.5em;
    }

    .box-nav li {
        padding: 0.35em;
    }

    .nav-button {
        background-color: rgba(49, 56, 65, 0.65);
        color: #9DA7B3;
        text-decoration: none;
        font-weight: bold;
        padding: 1em;
        border-radius: 5px;
        border: none;
    }

    .active .nav-button {
        background-color: #22272E;
    }

    .nav-button:hover {
        background-color: #22272E;
        border-radius: 5px;
    }

    .box-input {
        margin-right: 6em;
    }

    input {
        border: none;
        border-radius: 5px;
        font-size: 12px;
        width: 12em;
        background-color: rgba(49, 56, 65, 0.65);
        text-align: center;
        padding: 1em;
        margin-right: 0.5em;
        color: #9DA7B3;
        font-family: 'Space Grotesk', sans-serif;
    }

    input:focus {
        outline: none;
        background-color: rgb(55, 62, 72);

    }

    .empty::placeholder {
        color: orangered;
        font-size: 14px;
    }

    .search {
        background-color: rgba(49, 56, 65, 0.65);
        font-size: 14px;
        color: #9DA7B3;
        padding: 0.75em;
        border-radius: 5px;
        border: none;
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 700;
    }

    .search:hover {
        background-color: #22272E;
        border-radius: 5px;
    }

    .location {
        background-color: rgba(49, 56, 65, 0.65);
        border: none;
        border-radius: 5px;
        font-size: 14px;
        color: #9DA7B3;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        text-decoration: none;
        padding: 0.8em;
        margin-right: 1em;
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 700;
    }

    .location:hover {
        background-color: #22272E;
        border-radius: 5px;
    }
}


@media (max-width: 768px) {
    .navigations {
        background-color: #2D333B;
        color: #9DA7B3;
    }

    .box-nav ul {
        list-style: none;
        margin: 0;
        padding: 0.5em;
    }

    .box-nav li {
        padding: 0.30em 0.10em;
    }

    .nav-button {
        background-color: rgba(49, 56, 65, 0.65);
        color: #9DA7B3;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        width: 100%;
        padding: 1em 4.75vw;
        border-radius: 5px;
        border: none;
    }

    .active .nav-button {
        background-color: #22272E;
    }

    .nav-button:hover {
        background-color: #22272E;
        border-radius: 5px;
    }

    .input-button {
        padding: 0 10px;

    }

    input {
        border: none;
        border-radius: 5px;
        font-size: 12px;
        width: 60%;
        background-color: rgba(49, 56, 65, 0.65);
        text-align: center;
        padding: 1.2em;
        color: #9DA7B3;
        font-family: 'Space Grotesk', sans-serif;
    }

    input:focus {
        outline: none;
        background-color: rgb(55, 62, 72);
    }

    .empty::placeholder {
        color: orangered;
        font-size: 14px;
    }

    .search {
        background-color: rgba(49, 56, 65, 0.65);
        font-size: 14px;
        color: #9DA7B3;
        width: 30%;
        float: right;
        padding: 0.95em;
        border-radius: 5px;
        border: none;
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 700;
    }

    .search:hover {
        background-color: #22272E;
        border-radius: 5px;
    }

    .box-location {
        padding: 10px;
    }

    .location {
        background-color: rgba(49, 56, 65, 0.65);
        border: none;
        border-radius: 5px;
        font-size: 14px;
        color: #9DA7B3;
        cursor: pointer;
        width: 100%;
        transition: all 0.2s ease-in-out;
        text-decoration: none;
        padding: 0.95em;
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 700;
    }

    .location:hover {
        background-color: #22272E;
        border-radius: 5px;
    }
}
