.forecastPage {
    min-height: 40em;
}

@media (max-width: 968px) {
    .forecastPage {
        font-size: 80%;
        min-height: 40em;
    }
}

@media (max-width: 768px) {
    .forecastPage {
        font-size: 60%;
        min-height: 42em;
    }
}

@media (max-width: 568px) {
    .forecastPage {
        font-size: 50%;
        min-height: 55em;
    }
}
