@media (min-width: 768px) {
    .current-box {
        background-color: #22272E;
        border-radius: 5px;
        color: #9DA7B3;
        width: 65%;
        font-size: 0.8em;
        margin: 0 auto;
        margin-bottom: 5em;
        margin-top: 5em;
    }

    .current-box .date {
        text-align: center;
        padding: 0.01em;
        background-color: #2D333B;
        border-radius: 5px 5px 0 0;
        color: #006F9E;
    }

    .card-weather {
        display: flex;
        padding: 1em;
    }

    .image {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image img {
        width: 6em;
        height: 6em;
    }

    .contant {
        width: 50%;
        text-align: start;
        display: flex;
    }

    .contant .box-1 {
        width: 50%;
    }

    .contant .box-2 {
        width: 50%;
    }
}


@media (max-width: 768px) {
    .current-box {
        background-color: #22272E;
        border-radius: 5px;
        color: #9DA7B3;
        width: 85%;
        margin: 0 auto;
        font-size: 0.8em;
        margin-bottom: 5em;
        margin-top: 5em;
    }

    .current-box .date {
        text-align: center;
        padding: 0.01em;
        background-color: #2D333B;
        border-radius: 5px 5px 0 0;
        color: #006F9E;
    }

    .card-weather {
        padding: 2.5em;
    }

    .image {
        text-align: center;
    }

    .image img {
        width: 6em;
        height: 6em;
    }

    .contant {
        width: 50%;
        text-align: center;
        display: flex;
        margin: 0 auto;
    }

    .contant .box-1 {
        width: 50%;
    }

    .contant .box-2 {
        width: 50%;
    }
}
