@media (min-width: 768px) {
    .forecast-week {
        width: 65%;
        background-color: #22272E;
        border-radius: 5px;
        color: #9DA7B3;
        font-size: 0.8em;
        margin: 0 auto;
    }

    .weather-card {
        display: flex;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .box-title {
        text-align: center;
        padding: 1em;
        background-color: #2D333B;
        border-radius: 5px 5px 0 0;
        color: #006F9E;
        font-size: 16px;
    }

    .card-forecast-week {
        width: 15vw;
        text-align: center;
        position: relative;
        margin-left: 1em;
        margin-bottom: 2em;
    }

    .card-forecast-week::after {
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }

    .date {
        background-color: #2D333B;
        border-radius: 5px;
        color: #006F9E;
        font-size: 14px;
    }

    .forecast-week img {
        width: 50%;
    }

    .forecast-week h4 {
        font-weight: 300;
    }
}


@media (max-width: 768px) {
    .forecast-week {
        width: 85%;
        margin: 0 auto;
        background-color: #22272E;
        color: #9DA7B3;
        font-size: 0.8em;
        border-radius: 5px;

    }

    .weather-card {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 1em;
        text-align: center;
    }

    .box-title {
        text-align: center;
        padding: 1em;
        background-color: #2D333B;
        border-radius: 5px 5px 0 0;
        color: #006F9E;
        font-size: 16px;
    }

    .card-forecast-week {
        margin-bottom: 2.5em;
    }

    .date {
        background-color: #2D333B;
        border-radius: 5px;
        color: #006F9E;
        font-size: 14px;
    }

    .forecast-week img {
        width: 5em;
    }
}
