@media (min-width: 768px) {
    .block-1 {
        width: 65%;
        margin: 0 auto;
        color: #9DA7B3;
        border-radius: 5px;
        margin-top: 2.5em;
        padding-top: 0.625em;
        padding-bottom: 0.625em;
        font-size: 0.8em;
    }

    .block-2 {
        display: flex;
        margin: 0.3125em 1.25em;
        background-color: #2D333B;
        border-radius: 5px;
        padding-left: 1.5em;
    }

    .block-2 .time {
        color: #006F9E;
    }

    .block-2 img {
        width: 4vw;
        height: 4vw;
        margin-left: 1vw;
    }

    .block-2 .humid,
    .block-2 .clouds,
    .block-2 .temp,
    .block-2 .temp,
    .block-2 .rain,
    .block-2 .visibility {
        width: 7vw;
    }

    .block-2 .wind,
    .block-2 .pressure {
        width: 10vw;
    }

    .block-2 .wind {
        margin-left: 1.5vw;
    }

    .test {
        display: flex;
    }
}


@media (max-width: 768px) {
    .block-1 {
        color: #9DA7B3;
        border-radius: 5px;
        margin-top: 2em;
        margin-bottom: 7.5em;
        padding-top: 0.625em;
        padding-bottom: 0.625em;
        font-size: 0.8em;
    }

    .block-2 {
        padding-bottom: 2em;
        background-color: #2D333B;
        width: 85%;
        margin: 0 auto;
        border-radius: 5px;
        text-align: center;
    }

    .block-2 .time {
        color: #006F9E;
        background-color: #343c46;
        padding: 1em;
        border-radius: 5px 5px 0 0;
    }

    .block-2 img {
        width: 5em;
    }
}
