@media (min-width: 768px) {
    footer {
        background-color: #2D333B;
        padding: 0.25em;
        color: #9DA7B3;
    }

    .box-contact {
        display: flex;
    }

    .contact a {
        color: #9DA7B3;
        text-decoration: none;
        font-size: 0.8em;
    }

    .contact a:hover {
        color: #006F9E;
    }

    .mail {
        position: relative;
        width: 50%;
        text-align: end;
        padding-right: 5em;
    }

    .social {
        width: 50%;
        text-align: start;
        padding-left: 5em;
    }

    .mail h3,
    .social h3 {
        color: #006F9E;
        font-size: 1em;
    }

    .copy {
        text-align: center;
        font-size: 0.5em;
        margin-top: 2em;
    }
}


@media (max-width: 768px) {
    footer {
        background-color: #2D333B;
        padding: 0.25em;
        color: #9DA7B3;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box-contact {
        display: flex;
        flex-direction: column;
    }

    .contact a {
        color: #9DA7B3;
        text-decoration: none;
        font-size: 0.8em;
    }

    .contact a:hover {
        color: #006F9E;
    }

    .mail {
        text-align: center;
    }

    .social {
        text-align: center;
    }

    .mail h3,
    .social h3 {
        color: #006F9E;
        font-size: 0.9em;
    }

    .copy {
        text-align: center;
        margin-top: 2em;
        font-size: 0.5em;
    }
}
